# Dependências
node_modules/

# Pasta spec
spec/

# Build
dist/
dist-ssr/
*.local

# Vite/Vue CLI cache
.vite/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# TypeScript (se estiver usando)
*.tsbuildinfo